/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run seqeralabs/nf-chai -profile test_full_msa,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    // Input sequences for FASTA file obtained from chai-lab examples:
    // https://github.com/chaidiscovery/chai-lab/blob/2d2646bde676da6c9b3fa23b38b47fef8fc0d420/examples/predict_structure.py#L16-L23
    input = "${projectDir}/assets/fasta/multiple_entities.fa"

    // Input MSA files obtained from chai-lab examples:
    // https://github.com/chaidiscovery/chai-lab/tree/2d2646bde676da6c9b3fa23b38b47fef8fc0d420/examples/msas
    msa_dir = "${projectDir}/assets/msa/"

}
